## Build directories
build/*
docs/*

## Node junk
.grunt/
node_modules/
npm-debug.log

## OSX junk
.DS_Store
.Trashes
._*

## Windows junk
Thumbs.db
Desktop.ini

## Temporary files
*.tmp
*~

# Vim swap files
*.sw*

## Keep the placeholders
!.placeholder
